$bg: rgba(#000000,0.6);
$fg: #dddddd;
$shadow: rgba(#000000,0.3);
$border_col: rgba(#595959,0.66);
$best_so_far: rgba(255,255,255,0.1);

.bar {
	background-color: transparent;
}

.main_container {
	margin: 10px 10px 0px 10px;
}

.main_theme {
	background: $bg;
	border-radius: 10px;
	color: $fg;
	font-size: 16px;
	padding: 5px 15px 5px 14px;
	margin-bottom: 0px;
	border: 1px solid $border_col;
	box-shadow: none /* 2px 2px 2px $shadow*/;
	text-shadow: none;
}
